.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #ffffff;
    font-size: 14px;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
  }
  
  .footer-left p {
    margin: 0;
    color: #555;
  }
  
  .footer-left a {
    color: #555;
    text-decoration: none;
    margin: 0 8px;
  }
  
  .footer-left a:hover {
    text-decoration: underline;
  }
  
  .footer-right,.footer-left {
    display: flex;
    align-items: center;
    gap: 15px;
  
    flex-wrap: wrap;
  }
  
  .footer-right span,
  .footer-right a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-right a i {
    font-size: 16px;
  }
  